* {
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 18px;
    color: #333;
    box-sizing: border-box;
}

ul,
li {
    list-style-type: none;
}

a {
    color: #333;
    text-decoration: none;
}

span,
em,
strong,
a,
small {
    display: inline-block;
}

.wrap {
    width: 100%;
    position: relative;
    overflow: hidden;
}

header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 80px 7.5% 60px;
    background: #fff;
    z-index: 60;
    transition: .5s;
}

header.up {
    top: -196px;
}

header h1 {}

header nav {
    margin-right: 150px;
    position: relative;
}

header nav a {
    text-transform: uppercase;
    font-size: 0.778em;
    padding: 0 20px;
    color: #333;
}

header nav a:hover,
header nav a.on {
    font-weight: bold;
}

header nav .burger_menu {
    width: 40px;
    height: 24px;
    position: absolute;
    right: -150px;
    top: 0;
    cursor: pointer;
}

header nav .burger_menu span {
    width: 100%;
    height: 2px;
    background: #333;
    position: absolute;
}

header nav .burger_menu span:nth-of-type(1) {
    width: 60%;
}

header nav .burger_menu span:nth-of-type(2) {
    top: calc(50% - 1px);
}

header nav .burger_menu span:nth-of-type(3) {
    width: 80%;
    bottom: 0;
}

header .sub_menu {
    position: fixed;
    top: 0px;
    right: -1000px;
    width: 800px;
    height: 100vh;
    background: #000;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

header .sub_menu.on {
    right: 0px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    header {
        margin: 0 auto;
        position: relative;
    }
    header h1 {float: left;}
    header nav {float: right;}
    
    header .sub_menu{
        display: none;
    }
    header .sub_menu.on {
        display:flex;
        right:-1000px;
        animation: subMenu .5s .3s forwards;
    }    
}
@keyframes subMenu{
    0%{right:-1000px;}
    100%{right: -144px;}
}   

header .sub_menu a {
    font-size: 2em;
    text-transform: uppercase;
    padding: 25px 0;
    color: #fff;
}

header .sub_menu a:hover {
    color: #fed53e;
}

header .sub_menu div {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 90px;
    right: 149px;
    cursor: pointer;
}

header .sub_menu span {
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
}

header .sub_menu span:nth-of-type(1) {
    transform: rotate(45deg)
}

header .sub_menu span:nth-of-type(2) {
    transform: rotate(-45deg)
}

.content_box {
    margin: 196px auto 100px;
}

.content_box .con_header {
    text-align: center;
    padding: 200px 0 100px;
}

.content_box .con_header em {
    font-size: 2em;
    font-style: normal;
}

.content_box .con_header h2 {
    font-size: 5em;
    padding: 20px 0 60px;
}

.content_box .con_header small {
    font-size: 1.111em;
}

aside {
    text-align: right
}

aside span {
    margin: 0 100px 70px 0;
    cursor: pointer;
}

footer {
    width: 100%;
    padding: 100px 250px;
    background: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

footer h4 {
    width: 200px;
}

footer h4 img {
    width: 100%;
}

footer .footer_con {}

footer .footer_con p {
    color: #ddd;
    font-size: 0.833em;
    white-space: pre-line;
    line-height: 2em;
    padding-right: 400px;
}

footer .footer_con span {
    color: #999;
    font-size: 0.833em;
    padding-top: 30px;
}

footer input {
    width: 200px;
    height: 65px;
    border: 2px solid #ddd;
    background: #333 url(../img/icon_down.png) no-repeat right 40px center;
    color: #ddd;
    font-size: 0.833em;
    padding: 20px 40px;
    position: absolute;
    right: 250px;
    z-index: 10;
    outline-style: none;
    cursor: pointer;
}

footer input.on {
    background: #333 url(../img/icon_up.png) no-repeat right 40px center;
}

footer .lang_box {
    position: absolute;
    bottom: 225px;
    right: 250px;
    display: none;
}

footer .lang_box li {
    width: 200px;
    background: #fff url(../img/icon_more.png) no-repeat right 40px center;
    color: #333;
    font-size: 0.833em;
    padding: 15px 40px;
    cursor: pointer;
    transition: .5s;
}

footer .lang_box li:hover {
    background: #ddd url(../img/icon_more.png) no-repeat right 40px center
}




