@import url(common.css);
.circle {
     width: 300px;
    height: 300px;
    border-radius: 150px;
    background: #fed53e;
    position: absolute;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -10;
}
.circle span {
   
}

.content_box {
    position: relative;
}

#map {
    margin: 0 auto;
}

.con_finder {
    position: absolute;
    bottom: 50px;
    left: 350px;
    width: 350px;
    height: 550px;
    background: #fff;
    z-index: 50;
    padding: 40px 0;
}

.con_finder h3 {
    font-size: 0.833em;
    padding-bottom: 30px;
    margin-left: 40px;
}

.con_finder input {
    outline-style: none;
    width: 270px;
    padding: 9px 20px;
    margin-left: 40px;
    cursor: pointer;
    font-size: 0.833em;
    border: none;
    border-bottom: 2px solid #725643;
    background: url(../img/icon_down_b.png) no-repeat right 20px center;
}

.con_finder .loca_body {
    position: absolute;
    top: 124px;
    left: 40px;
    width: 270px;
    height: 200px;
    z-index: 20;
    display: none;
}

.con_finder .loca_list li {
    padding: 10px 20px;
    background: #f9f9f9;
    transition: .5s;
    font-size: 0.833em;
    cursor: pointer;
}

.con_finder .loca_list li:hover {
    background: #e9e9e9;
}

.con_finder > span {
    font-size: 0.667em;
    color: #fff;
    width: 130px;
    text-align: right;
    line-height: 3.5em;
    margin: 20px 0;
    cursor: pointer;
}

.con_finder > span:nth-of-type(1) {
    padding-right: 12px;
    background: #725643 url(../img/icon_marker.png) no-repeat left 12px center;
    margin-left: 40px;
    margin-right: 4.5px;
}

.con_finder > span:nth-of-type(2) {
    padding-right: 17px;
    background: #725643 url(../img/icon_list.png) no-repeat left 17px center
}

.con_finder .store_body {
    height: 300px;
    position: relative;
}

.con_finder .store_list li {
    cursor: pointer;
    padding: 20px 40px;
    border-bottom: 1px solid #eee;
    transition: .5s;
}

.con_finder .store_list li:hover {
    background: #e9e9e9;
}

.con_finder .store_list strong {
    display: block;
    font-size: 0.833em;
    padding-bottom: 7px;
}

.con_finder .store_list span {
    font-size: 0.833em;
    display: block;
}

.con_finder .store_list span:nth-of-type(1) {
    padding-bottom: 5px;
}