@import url(common.css);
.circle {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    background: #facd89;
    position: absolute;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -10;
}

.content_box {
    margin: 196px auto 0;
    position: relative;
}

.content_box .food_list {
    width: 100%;
    background: #f9f9f9;
    padding: 80px 200px;
    display: flex;
    flex-direction: column;
}

.content_box .food_list li {
    padding: 50px 0;
    margin-top: 200px;
    position: relative;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}

.content_box .food_list li.on {
    margin-top: 0;
    visibility: visible;
    opacity: 1;
}

.content_box .food_list li figure {
    display: flex;
}

.content_box .food_list li figure > span {
    font-size: 10.000em;
    color: #fff;
    font-style: italic;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
}

.content_box .food_list li > figure > div {
    position: absolute;
    top: 40px;
    right: 80px;
}

.content_box .food_list li figure figcaption {
    display: flex;
    flex-direction: column;
}

.content_box .food_list li > figure > figcaption {
    padding: 40px 0 0 50px;
}

.content_box .food_list li figure figcaption small {
    font-weight: bold;
}

.content_box .food_list li figure figcaption strong {
    font-size: 1.667em;
    padding: 3px 0 20px;
}

.content_box .food_list li:nth-of-type(1) figure figcaption small,
.content_box .food_list li:nth-of-type(1) figure figcaption strong {
    color: #3f3a39;
}

.content_box .food_list li:nth-of-type(2) figure figcaption small,
.content_box .food_list li:nth-of-type(2) figure figcaption strong {
    color: #349da3;
}

.content_box .food_list li:nth-of-type(3) figure figcaption small,
.content_box .food_list li:nth-of-type(3) figure figcaption strong {
    color: #e98121;
}

.content_box .food_list li:nth-of-type(4) figure figcaption small,
.content_box .food_list li:nth-of-type(4) figure figcaption strong {
    color: #f56372;
}

.content_box .food_list li:nth-of-type(5) figure figcaption small,
.content_box .food_list li:nth-of-type(5) figure figcaption strong {
    color: #d3b626;
}

.content_box .food_list li:nth-of-type(6) figure figcaption small,
.content_box .food_list li:nth-of-type(6) figure figcaption strong {
    color: #7d4723;
}

.content_box .food_list li:nth-of-type(7) figure figcaption small,
.content_box .food_list li:nth-of-type(7) figure figcaption strong {
    color: #ec493d;
}

.content_box .food_list li:nth-of-type(8) figure figcaption small,
.content_box .food_list li:nth-of-type(8) figure figcaption strong {
    color: #6d8954;
}

.content_box .food_list li:nth-of-type(9) figure figcaption small,
.content_box .food_list li:nth-of-type(9) figure figcaption strong {
    color: #344810;
}

.content_box .food_list li:nth-of-type(10) figure figcaption small,
.content_box .food_list li:nth-of-type(10) figure figcaption strong {
    color: #8b0205;
}

.content_box .food_list li:nth-of-type(11) figure figcaption small,
.content_box .food_list li:nth-of-type(11) figure figcaption strong {
    color: #d19d40;
}

.content_box .food_list li figure figcaption p span {
    display: block;
    color: #555;
    padding: 3px 0;
}

.content_box .food_list li figure figcaption .sub_all {
    width: 1200px;
    display: flex;
    background: #fff;
    padding: 40px;
    position: relative;
    margin-top: 70px;
}

.content_box .food_list li figure figcaption .sub_all > span {
    width: 0px;
    height: 0px;
    border-top: 50px solid none;
    border-bottom: 50px solid #fff;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
    position: absolute;
    top: -50px;
    left: 50px;
}

.content_box .food_list li figure figcaption .sub_all .sub_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 15px;
}

.content_box .food_list li figure figcaption .sub_all .sub_info div {
    width: 250px;
    padding-bottom: 10px;
    text-align: center;
}

.content_box .food_list li figure figcaption .sub_all .sub_info div img {
    width: 90%;
}

.content_box .food_list li figure figcaption .sub_all .sub_info figcaption em {
    font-style: normal;
    text-align: center;
    font-size: 0.833em;
    padding-bottom: 5px;
}

.content_box .food_list li figure figcaption .sub_all .sub_info figcaption span {
    text-align: center;
    font-size: 0.833em;
}

.content_box > a {
    width: 200px;
    height: 60px;
    line-height: 60px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #725643;
    color: #fff;
    text-align: center;
    margin-top: 200px;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}

.content_box > a.on {
    margin-top: 0;
    visibility: visible;
    opacity: 1;
}

aside {
    text-align: right;
    background: #f9f9f9;
    padding-top: 100px;
}